@use "../../styles/variable.scss" as variables;

.chooseMeContainer {
    background: #FFF7EB;
    padding-top: 80px;
    padding-bottom: 80px;

    .chooseHeading {
        @include variables.d-flex($al: center, $jc: flex-start, $gap : 8px);
        flex-direction: column;


        p {
            @include variables.aeonik-font();
            color: #E68C5B;
            @include variables.font-style($fs: 16px, $fw: 400, $lh: 138%);

        }

        h5 {
            @include variables.carien-font();
            color: #181D25;
            @include variables.font-style($fs: 32px, $fw: 400, $lh: 138%);

        }

        padding-bottom: 60px;
    }

    .backgroundContainer {
        @include variables.d-flex($al: center, $jc: center, $gap : 0px);
        background-size: 100% 100%;

        img {
            max-width: 1440px;
        }

        // padding-top: 304px;


        video {
            max-width: 480px;
            max-height: 834px;
        }

        .chooseContent {



            bottom: 0;
            min-height: 211px;
            position: relative;
            width: 30%;


            max-width: 1200px;
            @include variables.d-flex($al: flex-start, $jc: flex-start, $gap : 24px);
            flex-direction: column;
            background: #000;
            backdrop-filter: blur(20px);
            padding: 32px;


            .chooseSpecific {
                @include variables.d-flex($al: flex-start, $jc: flex-start, $gap : 24px);
                flex-direction: column;
                width: 100%;

                border-bottom: 1px solid #FFA11A;


                p {
                    @include variables.carlito-font();
                    width: 100%;
                    color: #FFF;
                    padding-bottom: 24px;
                    @include variables.font-style($fs: 16px, $fw: 400, $lh: 30px);

                }

                &:last-child {
                    border-right: none;
                }

            }
        }

    }

}

@media screen and (max-width : 992px) {
    .chooseMeContainer {
        background: #FFF7EB;
        padding-top: 60px;
        padding-bottom: 40px;

        .chooseHeading {
            @include variables.d-flex($al: center, $jc: flex-start, $gap : 8px);
            flex-direction: column;


            p {
                @include variables.aeonik-font();
                color: #E68C5B;
                @include variables.font-style($fs: 16px, $fw: 400, $lh: 138%);

            }

            h5 {
                @include variables.carien-font();
                color: #181D25;
                @include variables.font-style($fs: 28px, $fw: 400, $lh: 138%);

            }

            padding-bottom: 60px;


        }

        .backgroundContainer {
            position: relative;
            background-size: 100% 100%;
            flex-direction: column;

            img {
                max-width: 1440px;
            }

            video {
                width: 100%;
                max-height: 834px;
            }

            // padding-top: 304px;

            .chooseContent {

                bottom: 0;
                // max-width: 350px;
                width: 100%;

                // position: absolute;
                margin-bottom: 40px;
                // bottom: -590px;
                // right: 13%;
                @include variables.d-flex($al: flex-start, $jc: flex-start, $gap : 24px);
                flex-direction: column;
                background: #000;
                backdrop-filter: blur(20px);
                padding: 32px;


                .chooseSpecific {
                    @include variables.d-flex($al: flex-start, $jc: flex-start, $gap : 24px);
                    flex-direction: column;
                    width: 100%;
                    padding-right: 0;
                    height: 133px;
                    border-right: none;

                    border-bottom: 1px solid #FFA11A;

                    p {
                        @include variables.carlito-font();
                        width: 100%;
                        color: #FFF;
                        padding-bottom: 0px;
                        @include variables.font-style($fs: 16px, $fw: 400, $lh: 30px);

                    }

                    &:last-child {
                        border-right: none;
                    }

                }
            }

        }

    }
}