@use "../../styles/variable.scss" as variables;

.serviceBridalContainer {
    background: #000;
    padding: 120px 100px;
    @include variables.d-flex($al: center, $jc: center, $gap: 80px);
    flex-direction: column;

    .serivceBridalHeading {
        @include variables.d-flex($al: center, $jc: flex-start, $gap: 8px);
        flex-direction: column;
        max-width: 561px;

        p {
            @include variables.aeonik-font();
            color: #E7986D;
            @include variables.font-style($fs: 16px, $fw: 400, $lh: 22.08px);

        }

        span {
            @include variables.carien-font();
            color: #FFF;
            text-align: center;
            @include variables.font-style($fs: 32px, $fw: 400, $lh: 130%);

        }
    }

    .cardContainer {
        @include variables.d-flex($al: center, $jc: center, $gap: 32px);

        .card {
            padding: 300px 24px 24px 24px;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            @include variables.d-flex($al: center, $jc: center, $gap: 8px);
            flex-direction: column;

            p {
                @include variables.carien-font();
                color: #FFF;
                @include variables.font-style($fs: 24px, $fw: 400, $lh: 33px);

            }

            h5 {
                @include variables.carlito-font();
                color: #FFF;
                @include variables.font-style($fs: 18px, $fw: 400, $lh: 30px);

            }
        }
    }

    .bridalContentContainer {
        @include variables.d-flex($al: flex-start, $jc: flex-start, $gap: 32px);
        flex-direction: column;

        .bridalContent {
            border-radius: 16px;
            width: 100%;
            min-height: 149px;
            padding: 24px;
            border: 1px solid #3B3B3B;
            background: rgba(255, 255, 255, 0.10);
            backdrop-filter: blur(220px);

            @include variables.d-flex($al: flex-start, $jc: flex-start, $gap: 8px);
            flex-direction: column;
            max-width: 604px;

            h5 {
                @include variables.carien-font();
                color: #FFF;
                @include variables.font-style($fs: 24px, $fw: 400, $lh: 33px);

            }

            p {
                @include variables.carlito-font();
                color: #FFF;
                @include variables.font-style($fs: 18px, $fw: 400, $lh: 30px);

            }
        }

    }

    .bridalContentContainer1 {
        width: 100%;
        @include variables.d-flex($al: flex-start, $jc: flex-start, $gap: 32px);
    }

    .bridalContentContainer2 {
        width: 100%;
        @include variables.d-flex($al: flex-start, $jc: flex-start, $gap: 32px);
    }

}